<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DailyMood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3859B842196FC71400688C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3859B854196FC71400688C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DE1E25197017F7009A2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DE1E2F197017F7009A2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DE1E4D1970201B009A2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38DE1E571970201B009A2B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F353AD196FF9A000889B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F353B7196FF9A000889B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F353D6196FFA6F00889B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38F353E0196FFA6F00889B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
